<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
 <test name="Chrome Test">
<parameter name="Port" value="5555"/>
    <classes>
      <class name="org.Testcase.FlipkartTestcase"/>
      
    </classes>
  </test> 
  
  <test name="Edge Test">
<parameter name="Port" value="6666"/>
    <classes>
      <class name="org.Testcase.FlipkartTestcase"/>
      
    </classes>
  </test> 
</suite> <!-- Suite -->
